ErrorDocument 404 https://gneiss.com/404.php

RewriteEngine on

RewriteRule ^Home index.php [NE,L]
RewriteRule ^Login login.php [NE,L]
RewriteRule ^Register register.php [NE,L]
RewriteRule ^About about_us.php [NE,L]
RewriteRule ^Services services.php [NE,L]
RewriteRule ^Electronic-Hardware-Design hardware_design.php [NE,L]
RewriteRule ^Printed-Circuit-Board-Design pcb.php [NE,L]
RewriteRule ^PCB-Manufacturing-Assembly assembly.php [NE,L]
RewriteRule ^Customize-Circuit-Designing circuit_designing.php [NE,L]
RewriteRule ^Interior-Design  interior_design.php [NE,L]
RewriteRule ^Household-Decoration-Protection  decoration_protection.php [NE,L]
RewriteRule ^IoT-Home-Automation  home_automation.php [NE,L]
RewriteRule ^Shop shop.php [NE,L]
RewriteRule ^Blog blog.php [NE,L]
RewriteRule ^Courses course.php [NE,L]
RewriteRule ^Contact contact.php [NE,L]
RewriteRule ^Project-Details project_details.php [NE,L]
RewriteRule ^Details blog_details.php [NE,L]
RewriteRule ^Product-Details product_details.php [NE,L]

